.form-wizard>ol{list-style-type:none;padding:0;border-top:1px solid #eee;border-bottom:1px solid #eee}
.form-wizard>ol>li{min-height:50px;padding-top:15px;padding-bottom:15px;background-color:#fff;cursor:pointer;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.form-wizard>ol>li>a{text-decoration:none}.form-wizard>ol>li .label{background-color:#3498db;display:block;width:30px;margin:0 auto;height:30px;line-height:26px;border-radius:50%;font-size:14px}
.form-wizard>ol>li .label[href]:focus,
.form-wizard>ol>li .label[href]:hover{background-color:#217dbb}
.form-wizard>ol>li h4{display:inline-block;color:#656565}
.form-wizard>ol>li small{display:block;color:#616262}
.form-wizard>ol>li.active{background-color:#3498db;color:#fff}
.form-wizard>ol>li.active h4,
.form-wizard>ol>li.active small,
.form-wizard>ol>li.active p{color:#fff}
.form-wizard>ol>li.active .label{background-color:#fff;border-color:#fff;color:#3498db}
.form-wizard>ol.wizard-nolabels .label{display:none!important}
.form-wizard .progress,.form-wizard .progress .progress-bar{display:block; }
.form-wizard .progress{height: 12px; border-radius: 4px}
.form-wizard .bwizard-buttons{margin:0}
.form-wizard .well{border:0;margin:0;box-shadow:0 0 0 #000}
.form-wizard .well fieldset{margin:0}
.form-wizard.wizard-horizontal>ol>li{display:inline-block}
.form-wizard.wizard-vertical:after,
.form-wizard.wizard-vertical:before{content:" ";display:table}
.form-wizard.wizard-vertical:after{clear:both}
.form-wizard.wizard-vertical>ol{float:left;width:39%;padding:0}
.form-wizard.wizard-vertical>ol>li{display:block;padding:10px}
.form-wizard.wizard-vertical>ol>li h4{font-size:14px}
.form-wizard.wizard-vertical>div{float:right;width:59%}
.form-wizard.wizard-vertical .pager{clear:both;padding-top:10px}
.form-wizard.wizard-vertical .well{padding:0}

.panel-media img {max-width: 100%;}

.panel-media .help-block {font-size: 10px;}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

.circle{
    border-radius: 50%;
}
.no-left-padding{
    padding-left:0px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }

.quizy .progress{
    height: 12px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}


/* QUIZY TIMELINE

.quizy .timeline {
  margin: 20px 0;
  padding: 0;
  border-top: 2px solid #428bca;
  list-style: none;
}

.quizy .timeline-step {
  float: left;
  width: 25%;
  padding-top: 30px;
  position: relative;
}
.quizy .timeline-step:first-of-type:before, .quizy .timeline-step:last-of-type:before {
  content: "";
  width: 50%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: -2px;
  left: 0;
}
.quizy .timeline-step:last-of-type:before {
  left: 50%;
}
.quizy .timeline-step:hover .quizy .timeline-step-label {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  height: auto;
  padding: 5px 10px;
  font-size: 12px;
  border-width: 1px;
  bottom: 100%;
}
.quizy .timeline-step:hover .quizy .timeline-step-label:before, .quizy .timeline-step:hover .timeline-step-label:after {
  display: block;
}

.quizy .timeline-step-label {
  opacity: 0;
  height: 0;
  padding: 0;
  font-size: 0;
  border-width: 0;
  -webkit-transform: rotate(30deg);
  width: 110px;
  margin: 0 0 45px -55px;
  border-style: solid;
  border-color: #428bca;
  background: #fff;
  font-weight: normal;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: bottom 0.1s ease-in-out, opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
.quizy .timeline-step-label:before, .quizy .timeline-step-label:after {
  display: none;
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 50%;
}
.quizy .timeline-step-label:before {
  border-top-color: #428bca;
  border-width: 8px;
  margin-left: -8px;
}
.quizy .timeline-step-label:after {
  border-top-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.quizy .timeline-step-content {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.quizy .timeline-step-title {
  display: block;
  width: 100%;
  padding: 30px 0 0;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 0;
}

.quizy .timeline-step-marker {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #fff;
  border: 4px solid #428bca;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #fff;
  text-align: center;
  line-height: 50px -10;
  color: #428bca;
  font-size: 2em;
  font-style: normal;
  position: absolute;
  top: -26px;
  left: 50%;
}
.quizy .done .timeline-step-marker {
  background: #428bca;
  color: #fff;
}

.quizy .timeline-step-radio {
  display: none;
}

.quizy .timeline-summary {
  width: 200px;
  border-width: 2px;
}
.quizy .timeline-summary .timeline-step-label {
  margin-bottom: 19px;
}
.quizy .timeline-summary .timeline-step-title {
  padding: 10px 0 0;
  font-size: 8px;
  font-weight: bold;
}

.quizy .timeline-summary .timeline-step-marker {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  border-width: 2px;
  text-indent: -999em;
  box-shadow: 0 0 0 3px #fff;
  top: -7px;
}

*/

/* QUIZY PORTFOLIO BOX */

.quizy .no-padding{
    padding: 0px;
}

.quizy .text-faded{
    color: rgba(255, 255, 255, 0.7);
}
.quizy .no-padding > [class*='col-']{
    padding: 0px;
}

.quizy .no-gutter > [class*='col-']{
    padding-left: 0px;
    padding-right: 0px;
}
.quizy  .portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.quizy  .portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.quizy .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.quizy .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.quizy .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.quizy .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.quizy .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.quizy .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .quizy .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .quizy .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

/**
*
* QUIZY FORMS COLOR CLASSES
*
*/

/*default*/
.quizy.admin-panel .btn {
    background-color: #fafafa;
    border: 2px solid rgba(69,90,100,.9);
    color: rgba(69,90,100,.9);
}

/*purple*/
.quizy.admin-panel.purple .header {
    background: #AF7AC5;
}

.quizy.admin-panel.purple .divider-text span, .quizy.admin-panel.purple .formColor {
    color: #AF7AC5;
}

.quizy.admin-panel.purple p {
    background: #AF7AC5;
    color: #fff;
}

.quizy.admin-panel.purple .btn {
    background-color: #AF7AC5;
    border: none;
    color: #fff;
}

/*danger*/
.quizy.admin-panel.danger .header {
    background: #f6504d;
}

.quizy.admin-panel.danger .divider-text span, .quizy.admin-panel.danger .formColor {
    color: #f6504d;
}

.quizy.admin-panel.danger p {
    background: #f6504d;
    color: #fff;
}

.quizy.admin-panel.danger .btn {
    background-color: #f6504d;
    border: none;
    color: #fff;
}

/*primary*/
.quizy.admin-panel.primary .header {
    background: #3498db;
}

.quizy.admin-panel.primary.sidebar {
    background: #3498db;
}

.quizy.admin-panel.primary .divider-text span, .quizy.admin-panel.primary .formColor {
    color: #3498db;
}

.quizy.admin-panel.primary p {
    background: #3498db;
    color: #fff;
}

.quizy.admin-panel.primary .btn {
    background-color: #3498db;
    border: none;
    color: #fff;
}

/*warning*/
.quizy.admin-panel.warning .header {
    background: #ffc61d;
}

.quizy.admin-panel.warning .divider-text span, .quizy.admin-panel.warning .formColor {
    color: #ffc61d;
}

.quizy.admin-panel.warning p {
    background: #ffc61d;
    color: #fff;
}

.quizy.admin-panel.warning .btn {
    background-color: #ffc61d;
    border: none;
    color: #fff;
}

/*success*/
.quizy.admin-panel.success .header {
    background: #27ae60;
}

.quizy.admin-panel.success .divider-text span, .quizy.admin-panel.success .formColor {
    color: #27ae60;
}

.quizy.admin-panel.success p {
    background: #27ae60;
    color: #fff;
}

.quizy.admin-panel.success .btn {
    background-color: #27ae60;
    border: none;
    color: #fff;
}

/*info*/
.quizy.admin-panel.info .header {
    background: #00afd1;
}

.quizy.admin-panel.info .divider-text span, .quizy.admin-panel.info .formColor {
    color: #00afd1;
}

.quizy.admin-panel.info p {
    background: #00afd1;
    color: #fff;
}

.quizy.admin-panel.info .btn {
    background-color: #00afd1;
    border: none;
    color: #fff;
}

/*inverse */
.quizy.admin-panel.inverse  .header {
    background: #2d2d2d;
}

.quizy.admin-panel.inverse  .divider-text span, .quizy.admin-panel.inverse .formColor {
    color: #2d2d2d;
}

.quizy.admin-panel.inverse  p {
    background: #2d2d2d;
    color: #fff;
}

.quizy.admin-panel.inverse  .btn {
    background-color: #2d2d2d;
    border: none;
    color: #fff;
}


/*green */
.quizy.admin-panel.green  .header {
    background: #01b6ad;
}

.quizy.admin-panel.green  .divider-text span, .quizy.admin-panel.green .formColor {
    color: #01b6ad;
}

.quizy.admin-panel.green  p {
    background: #01b6ad;
    color: #fff;
}

.quizy.admin-panel.green  .btn {
    background-color: #01b6ad;
    border: none;
    color: #fff;
}


.panel-orange>.panel-heading {
    background-color: #df7900;
    color: #fff;
    border-color: #eee;
}

.btn-orange, .btn-orange:hover {
    color: #fff;
    background-color: #df7900;
}

.panel-grass-green>.panel-heading {
    background-color: #60a917;
    color: #fff;
    border-color: #eee;
}

.btn-grass-green, .btn-grass-green:hover {
    color: #fff;
    background-color: #60a917;
}

.panel-blue>.panel-heading {
    background-color: #1ba1e2;
    color: #fff;
    border-color: #eee;
}

.btn-blue, .btn-blue:hover {
    color: #fff;
    background-color: #1ba1e2;
}

.panel-darkred>.panel-heading {
    background-color: #b91d47;
    color: #fff;
    border-color: #eee;
}

.btn-darkred, .btn-darkred:hover {
    color: #fff;
    background-color: #b91d47;
}

.panel-darkpurple>.panel-heading {
    background-color: #630460;
    color: #fff;
    border-color: #eee;
}

.btn-darkpurple, .btn-darkpurple:hover {
    color: #fff;
    background-color: #630460;
}

.panel-yellow>.panel-heading {
    background-color: #c8960d;
    color: #fff;
    border-color: #eee;
}

.btn-yellow, .btn-yellow:hover {
    color: #fff;
    background-color: #c8960d;
}

.btn-white{
    background-color: white;
    border-color: #cccccc;
}

.btn-no-border{
    border: none;
}

.tileRed {
    background: #ce352c;
}

.tileOrange {
    background: #df7900;
}

.tileGreen {
    background: #60a917;
}

.tileBlue {
    background: #1ba1e2;
}

.tilePurple {
    background: #630460;
}

.tileDarkRed {
    background: #b91d47;
}

.tileYellow {
    background: #c8960d;
}

.tileDarkGreen {
    background: #1e7145;
}

.tileDarken {
    background: #1d1d1d;
}

.tileDarkBlue {
    background: #2d89ef;
}

.tileAqua {
    background: #00b0b4;
}

.quizyAddWrap1 .form-wizard>ol>li.active, .quizyAddWrap1 .progress-bar, .quizyAddWrap1 .form-wizard>ol>li:not(.active) .label, .quizyAddWrap1 .qsButton, .quizyAddWrap1 .qsButton:hover, .quizyAddWrap1 .btn-success  {
    background: #60a917;
    border-color: #3c9a5f;
}

.quizyAddWrap1 .bwizard-steps .active:after {
    border-left-color: #60a917;
}

.quizyAddWrap1 .form-wizard>ol>li.active .label {
    color: #60a917;
}

.quizyAddWrap2 .form-wizard>ol>li.active, .quizyAddWrap2 .progress-bar, .quizyAddWrap2 .form-wizard>ol>li:not(.active) .label, .quizyAddWrap2 .qsButton, .quizyAddWrap2 .qsButton:hover, .quizyAddWrap2 .btn-success  {
    background: #df7900;
    border-color: #cc7000;
}

.quizyAddWrap2 .bwizard-steps .active:after {
    border-left-color: #df7900;
}

.quizyAddWrap2 .form-wizard>ol>li.active .label {
    color: #df7900;
}

.quizyAddWrap3 .form-wizard>ol>li.active, .quizyAddWrap3 .progress-bar, .quizyAddWrap3 .form-wizard>ol>li:not(.active) .label, .quizyAddWrap3 .qsButton, .quizyAddWrap3 .qsButton:hover, .quizyAddWrap3 .btn-success  {
    background: #b91d47;
    border-color: #b01c43;
}

.quizyAddWrap3 .bwizard-steps .active:after {
    border-left-color: #b91d47;
}

 .quizyAddWrap3 .form-wizard>ol>li.active .label  {
    color: #b91d47;
}

.quizyAddWrap4 .form-wizard>ol>li.active, .quizyAddWrap4 .progress-bar, .quizyAddWrap4 .form-wizard>ol>li:not(.active) .label, .quizyAddWrap4 .qsButton, .quizyAddWrap4 .qsButton:hover, .quizyAddWrap4 .btn-success  {
    background: #630460;
}

.quizyAddWrap4 .bwizard-steps .active:after {
    border-left-color: #630460;
}

.quizyAddWrap4 .form-wizard>ol>li.active .label {
    color: #630460;
}

.quizyAddWrap5 .form-wizard>ol>li.active, .quizyAddWrap5 .progress-bar, .quizyAddWrap5 .form-wizard>ol>li:not(.active) .label, .quizyAddWrap5 .qsButton, .quizyAddWrap5 .qsButton:hover, .quizyAddWrap5 .btn-success  {
    background: #c8960d;
}

.quizyAddWrap5 .bwizard-steps .active:after {
    border-left-color: #c8960d;
}

.quizyAddWrap5 .form-wizard>ol>li.active .label {
    color: #c8960d;
}

.quizyAddWrap .qsButton {
    color: #fff;
}

.subNavWrap {
    display: none;
}

/*switch*/
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }

.file-btn input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

@media screen and (max-width: 1199px) {

    .bwizard-steps li {
        display: none !important;
    }

    .bwizard-steps li.active {
        display: inline-block !important;
    }
}
